build
examples
topcow_ct
preprocess_data.ipynb
data/synthetic_blob_data_holes/backgrounds/00.npy
data/synthetic_blob_data_holes/backgrounds/01.npy
data/synthetic_blob_data_holes/backgrounds/02.npy
data/synthetic_blob_data_holes/backgrounds/03.npy
data/synthetic_blob_data_holes/backgrounds/04.npy
data/synthetic_blob_data_holes/backgrounds/05.npy
data/synthetic_blob_data_holes/backgrounds/06.npy
data/synthetic_blob_data_holes/backgrounds/07.npy
data/synthetic_blob_data_holes/backgrounds/08.npy
data/synthetic_blob_data_holes/backgrounds/09.npy
data/synthetic_blob_data_holes/backgrounds/10.npy
data/synthetic_blob_data_holes/backgrounds/11.npy
data/synthetic_blob_data_holes/backgrounds/12.npy
data/synthetic_blob_data_holes/backgrounds/13.npy
data/synthetic_blob_data_holes/backgrounds/14.npy
data/synthetic_blob_data_holes/backgrounds/15.npy
data/synthetic_blob_data_holes/distances_backgrounds/00.npy
data/synthetic_blob_data_holes/distances_backgrounds/01.npy
data/synthetic_blob_data_holes/distances_backgrounds/02.npy
data/synthetic_blob_data_holes/distances_backgrounds/03.npy
data/synthetic_blob_data_holes/distances_backgrounds/04.npy
data/synthetic_blob_data_holes/distances_backgrounds/05.npy
data/synthetic_blob_data_holes/distances_backgrounds/06.npy
data/synthetic_blob_data_holes/distances_backgrounds/07.npy
data/synthetic_blob_data_holes/distances_backgrounds/08.npy
data/synthetic_blob_data_holes/distances_backgrounds/09.npy
data/synthetic_blob_data_holes/distances_backgrounds/10.npy
data/synthetic_blob_data_holes/distances_backgrounds/11.npy
data/synthetic_blob_data_holes/distances_backgrounds/12.npy
data/synthetic_blob_data_holes/distances_backgrounds/13.npy
data/synthetic_blob_data_holes/distances_backgrounds/14.npy
data/synthetic_blob_data_holes/distances_backgrounds/15.npy
data/synthetic_blob_data_holes/distances_foregrounds/00.npy
data/synthetic_blob_data_holes/distances_foregrounds/01.npy
data/synthetic_blob_data_holes/distances_foregrounds/02.npy
data/synthetic_blob_data_holes/distances_foregrounds/03.npy
data/synthetic_blob_data_holes/distances_foregrounds/04.npy
data/synthetic_blob_data_holes/distances_foregrounds/05.npy
data/synthetic_blob_data_holes/distances_foregrounds/06.npy
data/synthetic_blob_data_holes/distances_foregrounds/07.npy
data/synthetic_blob_data_holes/distances_foregrounds/08.npy
data/synthetic_blob_data_holes/distances_foregrounds/09.npy
data/synthetic_blob_data_holes/distances_foregrounds/10.npy
data/synthetic_blob_data_holes/distances_foregrounds/11.npy
data/synthetic_blob_data_holes/distances_foregrounds/12.npy
data/synthetic_blob_data_holes/distances_foregrounds/13.npy
data/synthetic_blob_data_holes/distances_foregrounds/14.npy
data/synthetic_blob_data_holes/distances_foregrounds/15.npy
data/synthetic_blob_data_holes/foregrounds/00.npy
data/synthetic_blob_data_holes/foregrounds/01.npy
data/synthetic_blob_data_holes/foregrounds/02.npy
data/synthetic_blob_data_holes/foregrounds/03.npy
data/synthetic_blob_data_holes/foregrounds/04.npy
data/synthetic_blob_data_holes/foregrounds/05.npy
data/synthetic_blob_data_holes/foregrounds/06.npy
data/synthetic_blob_data_holes/foregrounds/07.npy
data/synthetic_blob_data_holes/foregrounds/08.npy
data/synthetic_blob_data_holes/foregrounds/09.npy
data/synthetic_blob_data_holes/foregrounds/10.npy
data/synthetic_blob_data_holes/foregrounds/11.npy
data/synthetic_blob_data_holes/foregrounds/12.npy
data/synthetic_blob_data_holes/foregrounds/13.npy
data/synthetic_blob_data_holes/foregrounds/14.npy
data/synthetic_blob_data_holes/foregrounds/15.npy
